// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023 AL
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mn.dtsi"

/ {
	model = "Sharket";
	compatible = "fsl,imx8mn-ddr4-evk", "fsl,imx8mn";

	chosen {
		bootargs = "console=ttymxc1,115200 earlycon=ec_imx6q,0x30890000,115200";
		stdout-path = &uart2;
	};

    memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0 0x40000000>;
	};

	resmem: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x28000000>;
			alloc-ranges = <0 0x40000000 0 0x20000000>;
			linux,cma-default;
		};
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 19 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <100>;
		off-on-delay-us = <12000>;
	};

    matrix_keypad: matrix_keypad0 {
		compatible = "gpio-matrix-keypad";
		debounce-delay-ms = <5>;
		col-scan-delay-us = <2>;
		pinctrl-names = "default";
		pinctrl-0 = <&matrix_keypad_default>;
		wakeup-source;

		row-gpios =
            <&gpio1 16 GPIO_ACTIVE_HIGH
            &gpio1 17 GPIO_ACTIVE_HIGH
            &gpio1 18 GPIO_ACTIVE_HIGH
            &gpio1 19 GPIO_ACTIVE_HIGH
            &gpio1 20 GPIO_ACTIVE_HIGH
            &gpio1 21 GPIO_ACTIVE_HIGH
            &gpio1 22 GPIO_ACTIVE_HIGH
            &gpio5 29 GPIO_ACTIVE_HIGH>;

		col-gpios =
            <&gpio1 8 GPIO_ACTIVE_HIGH
            &gpio1 9 GPIO_ACTIVE_HIGH
            &gpio1 10 GPIO_ACTIVE_HIGH
            &gpio1 11 GPIO_ACTIVE_HIGH
            &gpio1 12 GPIO_ACTIVE_HIGH
            &gpio1 13 GPIO_ACTIVE_HIGH
            &gpio1 14 GPIO_ACTIVE_HIGH>;

		linux,keymap = <
            0x0000003f  /* graph, f5*/
			0x0100003e  /* trace, f4 */
			0x0200003d  /* zoom, f3 */
			0x0300003c  /* window, f2 */
            0x0400003b  /* y=, f1 */
            0x05000040  /* 2nd, f6 */
            0x06000041  /* mode, f7 */
            0x07000042  /* del, f8 */
			0x0101002d  /* sto, x */
			0x0201001f  /* ln, s */
			0x03010031  /* log, n */
            0x04010017  /* x^2, i */
            0x05010020  /* x^-1, d */
            0x0601001e  /* math, a */
            0x07010043  /* alpha, f9 */
            0x00020039  /* 0, space */
			0x01020015  /* 1, y */
			0x02020014  /* 4, t */
			0x03020018  /* 7, o */
            0x04020024  /* ,, j */
            0x05020012  /* sin, e */
            0x06020030  /* apps, b */
            0x07020044  /* xttn, f10 */
            0x00030027  /* ., ; */
			0x0103002c  /* 2, z */
			0x02030016  /* 5, u */
			0x03030019  /* 8, p */
            0x04030025  /* (, k */
            0x05030021  /* cos, f */
            0x0603002e  /* prgm, c */
            0x07030057  /* stat, f11 */
            0x0004000c  /* (-), - */
			0x0104002b  /* 3, \ */
			0x0204002f  /* 6, v */
			0x03040010  /* 9, q */
            0x04040026  /* ), l */
            0x05040022  /* tan, g */
            0x06040058  /* vars, f12 */
            0x0005001c  /* enter, enter */
            0x0105000d  /* +, = */
			0x02050011  /* -, w */
			0x03050013  /* *, r */
			0x04050032  /* /, m */
            0x05050023  /* ^, h */
            0x0605000e  /* clear, bksp */
            0x0006006c  /* down */
			0x01060069  /* left */
			0x0206006a  /* right */
			0x03060067  /* up */
            >;
	};

    sound {
		compatible = "simple-audio-card";
        simple-audio-card,name = "wm8979-audio";
		simple-audio-card,format = "dsp_a";
        simple-audio-card,bitclock-inversion;
		simple-audio-card,frame-master = <&codec>;
		simple-audio-card,bitclock-master = <&codec>;

		simple-audio-card,cpu {
			sound-dai = <&sai2>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <16>;
		};

		codec: simple-audio-card,codec {
			sound-dai = <&wm8978>;
			clocks = <&clk IMX8MN_CLK_SAI2_ROOT>;
		};
	};
};

&clk {
	assigned-clocks = <&clk IMX8MN_AUDIO_PLL1>, <&clk IMX8MN_AUDIO_PLL2>;
	assigned-clock-rates = <393216000>, <361267200>;
};

&A53_0 {
	cpu-supply = <&buck2_reg>;
};

&iomuxc {
	pinctrl-names = "default";

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_ALE_QSPI_A_SCLK 0x1c4
			MX8MN_IOMUXC_NAND_CE0_B_QSPI_A_SS0_B 0x84
			MX8MN_IOMUXC_NAND_DQS_QSPI_A_DQS 0x40000084
			MX8MN_IOMUXC_NAND_DATA00_QSPI_A_DATA0 0x84
			MX8MN_IOMUXC_NAND_DATA01_QSPI_A_DATA1 0x84
			MX8MN_IOMUXC_NAND_DATA02_QSPI_A_DATA2 0x84
			MX8MN_IOMUXC_NAND_DATA03_QSPI_A_DATA3 0x84
		>;
	};

	pinctrl_mipi_dsi_en: mipi_dsi_en {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x16
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C1_SCL_I2C1_SCL		0x400001c3
			MX8MN_IOMUXC_I2C1_SDA_I2C1_SDA		0x400001c3
		>;
	};

	pinctrl_pmic: pmicirq {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO03_GPIO1_IO3	0x41
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C2_SCL_I2C2_SCL			0x400001c3
			MX8MN_IOMUXC_I2C2_SDA_I2C2_SDA			0x400001c3
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C3_SCL_I2C3_SCL			0x400001c3
			MX8MN_IOMUXC_I2C3_SDA_I2C3_SDA			0x400001c3
		>;
	};

	pinctrl_i2c1_gpio: i2c1grp-gpio {
		fsl,pins = <
			MX8MN_IOMUXC_I2C1_SCL_GPIO5_IO14        	0x1c3
			MX8MN_IOMUXC_I2C1_SDA_GPIO5_IO15        	0x1c3
		>;
	};

	pinctrl_i2c2_gpio: i2c2grp-gpio {
		fsl,pins = <
			MX8MN_IOMUXC_I2C2_SCL_GPIO5_IO16		0x1c3
			MX8MN_IOMUXC_I2C2_SDA_GPIO5_IO17		0x1c3
		>;
	};

	pinctrl_i2c3_gpio: i2c3grp-gpio {
		fsl,pins = <
			MX8MN_IOMUXC_I2C3_SCL_GPIO5_IO18		0x1c3
			MX8MN_IOMUXC_I2C3_SDA_GPIO5_IO19		0x1c3
		>;
	};

	pinctrl_typec1: typec1grp {
		fsl,pins = <
			MX8MN_IOMUXC_SD1_STROBE_GPIO2_IO11	0x159
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmc {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_RESET_B_GPIO2_IO19	0x41
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART2_RXD_UART2_DCE_RX	0x140
			MX8MN_IOMUXC_UART2_TXD_UART2_DCE_TX	0x140
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2grpgpio {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CD_B_GPIO2_IO12	0x1c4
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK		0x190
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD		0x1d0
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0	0x1d0
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1	0x1d0
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2	0x1d0
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3	0x1d0
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK		0x194
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD		0x1d4
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0	0x1d4
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1	0x1d4
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2	0x1d4
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3	0x1d4
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK		0x196
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD		0x1d6
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0	0x1d6
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1	0x1d6
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2	0x1d6
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3	0x1d6
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B		0xc6
		>;
	};

    pinctrl_pmic: pmicirq {
        fsl,pins = <
            MX8MN_IOMUXC_GPIO1_IO03_GPIO1_IO3	0x41
        >;
    };

    pinctrl_mipi_dsi_en: mipi_dsi_en {
        fsl,pins = <
            MX8MN_IOMUXC_GPIO1_IO01_GPIO1_IO1		0x16
        >;
    };

    matrix_keypad_default: matrix_keypad_default {
        fsl,pins = <
            /* Row, input, pull down, schmitt input */
            MX8MN_IOMUXC_ENET_MDC_GPIO1_IO16        0x180
            MX8MN_IOMUXC_ENET_MDIO_GPIO1_IO17       0x180
            MX8MN_IOMUXC_ENET_TD3_GPIO1_IO18        0x180
            MX8MN_IOMUXC_ENET_TD2_GPIO1_IO19        0x180
            MX8MN_IOMUXC_ENET_TD1_GPIO1_IO20        0x180
            MX8MN_IOMUXC_ENET_TD0_GPIO1_IO21        0x180
            MX8MN_IOMUXC_ENET_TX_CTL_GPIO1_IO22     0x180
            MX8MN_IOMUXC_UART4_TXD_GPIO5_IO29       0x180
            /* Col, output, slow slew, x2 drive strength */
            MX8MN_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x02
            MX8MN_IOMUXC_GPIO1_IO09_GPIO1_IO9		0x02
            MX8MN_IOMUXC_GPIO1_IO10_GPIO1_IO10		0x02
            MX8MN_IOMUXC_GPIO1_IO11_GPIO1_IO11		0x02
            MX8MN_IOMUXC_GPIO1_IO12_GPIO1_IO12		0x02
            MX8MN_IOMUXC_GPIO1_IO13_GPIO1_IO13		0x02
            MX8MN_IOMUXC_GPIO1_IO14_GPIO1_IO14		0x02
        >;
    };

    pinctrl_sai2: sai2grp {
        fsl,pins = <
            MX8MN_IOMUXC_SAI2_TXC_SAI2_TX_BCLK      0xd6
            MX8MN_IOMUXC_SAI2_TXFS_SAI2_TX_SYNC     0xd6
            MX8MN_IOMUXC_SAI2_TXD0_SAI2_TX_DATA0    0xd6
            MX8MN_IOMUXC_SAI2_RXD0_SAI2_RX_DATA0    0xd6
            MX8MN_IOMUXC_SAI2_MCLK_SAI2_MCLK        0xd6
        >;
    };
};

&flexspi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";

	flash0: w25q128@0 {
		reg = <0>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		spi-max-frequency = <80000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&i2c1 {	
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	scl-gpios = <&gpio5 14 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 15 GPIO_ACTIVE_HIGH>;
	status = "okay";

	pmic: pca9450@25 {
		reg = <0x25>;
		compatible = "nxp,pca9450";
		/* PMIC PCA9450 PMIC_nINT GPIO1_IO3 */
		pinctrl-0 = <&pinctrl_pmic>;
		gpio_intr = <&gpio1 3  GPIO_ACTIVE_LOW>;

		regulators {
			#address-cells = <1>;
			#size-cells = <0>;

			pca9450,pmic-buck2-uses-i2c-dvs;
			/* Run/Standby voltage */
			pca9450,pmic-buck2-dvs-voltage = <950000>, <850000>;

			buck1_reg: regulator@0 {
				reg = <0>;
				regulator-compatible = "buck1";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2_reg: regulator@1 {
				reg = <1>;
				regulator-compatible = "buck2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck3_reg: regulator@2 {
				reg = <2>;
				regulator-compatible = "buck3";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck4_reg: regulator@3 {
				reg = <3>;
				regulator-compatible = "buck4";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5_reg: regulator@4 {
				reg = <4>;
				regulator-compatible = "buck5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6_reg: regulator@5 {
				reg = <5>;
				regulator-compatible = "buck6";
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1_reg: regulator@6 {
				reg = <6>;
				regulator-compatible = "ldo1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: regulator@7 {
				reg = <7>;
				regulator-compatible = "ldo2";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1150000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3_reg: regulator@8 {
				reg = <8>;
				regulator-compatible = "ldo3";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4_reg: regulator@9 {
				reg = <9>;
				regulator-compatible = "ldo4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo5_reg: regulator@10 {
				reg = <10>;
				regulator-compatible = "ldo5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};
		};
	};

    wm8978: codec@1a {
		#sound-dai-cells = <0>;
		compatible = "wlf,wm8978";
		reg = <0x1a>;
	};
};

&sai2 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MN_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MN_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	status = "okay";
};

&snvs_pwrkey {
	status = "okay";
};

&uart2 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio2 12 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&usbotg1 {
	dr_mode = "peripheral";
	status = "okay";
};

&lcdif {
	status = "okay";
};

&mipi_dsi {
    status = "okay";
	panel@0 {
		compatible = "raydium,rm69700";
		reg = <0>;
		pinctrl-0 = <&pinctrl_mipi_dsi_en>;
		reset-gpio = <&gpio1 1 GPIO_ACTIVE_LOW>;
		dsi-lanes = <2>;
		video-mode = <0>;	/* 0: burst mode
					 * 1: non-burst mode with sync event
					 * 2: non-burst mode with sync pulse
					 */
		panel-width-mm = <41>;
		panel-height-mm = <55>;
		status = "okay";
	};
};

&gpu {
	status = "disabled";
};
